@use '../breakpoints.scss' as bp;

.cooking-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15rem;

    @media screen and (min-width: bp.$breakpoint-lg) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}