.taste-of-color-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    p {
        color: var(--white)
    }

    .taste-of-color-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1.87500rem 0 0;

        &--title {
            font-size: 1.3125rem;
            font-weight: 700;
        }

        &--description {
            text-align: center;
        }
    }
}