@use '../breakpoints.scss' as bp;

.taste-of-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .taste-of-colors-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.87500rem;
        @media screen and (min-width: bp.$breakpoint-md) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        @media screen and (min-width: bp.$breakpoint-lg) {
            gap: 0.625rem;
        }
    }
}